# Git Submodules配置
# 此文件由git submodule命令自动生成和维护

[submodule "third_party/wolfmqtt"]
	path = third_party/wolfmqtt
	url = https://github.com/wolfSSL/wolfMQTT.git
[submodule "third_party/wolfssl"]
	path = third_party/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
